
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: lato, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

section h2 {
  text-align: center;
  margin: 1rem 0;
  position: relative;
}

.upper {
  display: none;
}

header {
  background-image: linear-gradient(rgba(235, 232, 232, 0.479), rgba(235, 232, 232, 0.479)), url(images/bg2.JPG);
  background-repeat: no-repeat;
  padding: 1rem;
  padding-bottom: 4rem;
}

.logo {
  display: none;
}

.icon i {
  font-size: 30px;
  color: #272a32;
}

header nav ul {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.788);
  top: 0;
  right: -100%;
  padding: 2rem 1rem;
  display: none;
  transition: 0.5s linear;
  z-index: 99;
  backdrop-filter: blur(5px);
}

#tray .icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

header nav li {
  margin-bottom: 2rem;
}

header nav a {
  font-size: 23px;
  color: rgb(58, 58, 58);
  transition: 0.3s linear;
}

.links {
  text-transform: capitalize;
}

footer p {
  font-size: 14px;
  margin-left: 1rem;
  color: #272a32;
}

.intro p {
  font-size: 15px;
  margin: 0.5rem 0;
  color: #272a32;
}

.intro a {
  font-weight: 800;
  font-size: 16px;
  color: #272a32;
  text-decoration: underline;
  padding: 10px;
}

header nav a:hover {
  color: #ec5242;
}

footer h3 {
  border: 2px solid #ec5242;
  text-align: center;
  padding: 1px 1rem;
  font-size: 15px;
  margin-right: 1rem;
  color: #272a32;
}

.intro {
  padding: 1.5rem 0;
  text-transform: capitalize;
  text-align: center;
}

.intro h3 {
  font-size: 20px;
  color: #ec5242;
  font-weight: 400;
}

.intro h2 {
  font-size: 25px;
  margin-top: 15px;
  color: #272a32;
}

.intro h1 {
  color: #ec5242;
  font-size: 32px;
  line-height: 1.1;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.intro p.bg {
  background-color: rgb(245 243 243 / 93%);
  color: #272a32;
  border: 2px solid white;
  padding: 10px;
  margin: 1rem 0;
}

.show {
  right: 0;
  display: block;
}

section h2::after {
  content: '';
  width: 35px;
  height: 2px;
  border-radius: 12px;
  position: absolute;
  right: calc(50% - 8px);
  bottom: -8px;
  background-color: #ec5242;
}

#larger {
  display: none;
}

.ntslogo {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid rgb(206, 202, 202);
  margin: 1rem 0;
}

.ntslogo h2 {
  text-transform: capitalize;
}

.ntsimage {
  width: 80%;
  padding: 0 1rem;
  margin: 1rem auto;
  border: 1px solid rgb(206, 202, 202);
}

.ntsimage img {
  width: 70%;
}

.pasts {
  background-size: cover;
  width: 100%;
}

.pasts p {
  margin: 1rem 0;
}

.pastsummits {
  padding: 1rem;
  text-align: center;
  width: 95%;
  margin: auto;
  color: white;
}

.pastsummits h2 {
  color: #272a32;
}

.past1,
.past2 {
  background-repeat: no-repeat;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  text-transform: capitalize;
  color: white;
  padding: 0.5rem;
}

.past1 {
  background-image: linear-gradient(rgba(202, 30, 30, 0.712), rgba(202, 30, 30, 0.712)), url(images/summit1.jfif);
  background-size: 100%;
}

.past2 {
  background-image: linear-gradient(rgba(202, 30, 30, 0.712), rgba(202, 30, 30, 0.712)), url(images/summit2.jpg);
}

.past1 h3,
.past2 h3 {
  font-size: 25px;
  margin: 0.5rem 0;
}

.past1 p,
.past2 p {
  font-size: 18px;
  color: white;
  text-align: center;
}

.desktop {
  display: none;
}

.sponsors {
  background-color: #302f2f;
}

.sponsors h2 {
  text-align: center;
  color: #d3d3d3;
}

.sponsors .contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imgg {
  width: 100px;
  margin: 10px;
}

.sponsors .contain img {
  width: 100%;
}

.con {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  background-size: cover;
  color: white;
}

@media (min-width: 768px) {
  .container {
    width: 75%;
    margin: 0 auto;
  }

  header {
    background-position: center;
    background-size: 100%;
    padding: 0;
  }

  .icon {
    display: none;
  }

  .upper {
    background-color: rgb(66, 66, 66);
    display: block;
  }

  .socials {
    width: 75%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
  }

  header nav li {
    margin-left: 10px;
    margin-bottom: 0;
  }

  .socials li {
    margin-left: 1rem;
    font-size: 16px;
  }

  .socials i {
    color: white;
    font-size: 16px;
  }

  .logo {
    display: block;
  }

  .links {
    padding: 0;
    background-color: white;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    padding: .5rem 1rem;
    z-index: 100
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    
  }

  header nav ul {
    position: unset;
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    background-color: transparent;
    padding: 0.5rem 0;
  }

  header nav a {
    width: 100px;
  }

  header nav li a {
    font-size: 18px;
  }

  header nav a img {
    width: 100%;
  }

  footer p,
  footer h3 {
    color: #d3d3d3;
  }

  #larger {
    border: 2px solid #ec5242;
    padding: 0.5rem;
    color: #ec5242;
    display: block;
  }

  #larger a {
    color: #ec5242;
  }

  .intro {
    width: 75%;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .intro h1 {
    font-size: 45px;
    text-transform: uppercase;
  }

  section,
  .ntslogo {
    width: 70%;
    margin: 0 auto;
  }

  .ntsimage {
    padding: 0 0.5rem;
  }

  footer p {
    margin-left: 0;
  }

  .ntslogo p {
    margin: 1.5rem 0;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }

  .pastsummits {
    width: 75%;
    margin: 0 auto;
  }

  .past1,
  .past2 {
    width: 48%;
    padding: 1rem;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .sponsors {
    display: none;
    width: 100%;
    background-color: white;
  }

  .sponsors h2 {
    margin: 2rem 0;
  }

  footer {
    padding: 2rem 0;
    background-color: #272a31;
  }

  .con {
    width: 75%;
    margin: auto;
  }

  .desktop,
  footer {
    display: block;
  }

  .words .desktop {
    margin: 0.4rem 0;
  }
}
