@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;   
}

body {
  font-family: 'Poppins', sans-serif;
  
}

section {
  padding: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

.upper {
  display: none;
}

header {
    background-image: url(images/bg1-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    padding-bottom: 4rem;
}
.logo{
  display: none;
}
.icon i {
  font-size: 30px;
  color: white;
}

nav ul {
  position: absolute;
  height: 100vh;
  width: 60%;
  background-color: rgb(235, 230, 230);
  top: 0;
  right:-100%;
  padding: 2rem 1rem;
  display: none;
  transition: .5s linear;
}

.icon .fa-xmark {
  display: none;
}

nav li {
  margin-bottom: 2rem; 
}

nav a {
  font-size: 23px;
  color: rgb(58, 58, 58);
}
 
.links {
  text-transform: capitalize;
}

.intro {
  padding: 2.5rem 0;
  text-transform: capitalize;
}

.intro h3 {
  font-size: 23px;
  color: rgb(230 27 27 / 94%);
  font-weight: 400;
}

.intro h2 {
  font-size: 23px;
  margin-top: 15px;
}

.intro h1 {
  color: rgb(236 12 12 / 86%);
  font-size: 32px;
  line-height: 1.1;
  margin: 0.5rem 0;
  text-transform: uppercase;
    
}

.intro p:last-child,
.intro h2 {
  color: rgb(226, 207, 207);
}

.bg {
  background-color: rgb(245 243 243 / 93%);
  border: 2px solid white;
  padding: 10px;
  margin: 1rem 0;
}

.show {
  right: 0;
  display: block;
}

.how .fa-bars {
  display: none;
}

.how .fa-xmark {
  display: block;
}

.program {
  padding: 2rem 1rem;
  background-image: url(images/program-mobile.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}

.program h2 {
  text-align: center;
  text-transform: capitalize;
}

.container {
  display: grid;
  justify-content: center;
}

.pros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.288)
}

.pros .img {
  display: flex;
  align-items: center;
  width: 30%;
}

.pros .img i {
  margin-right: 5px;
  font-size: 15px;
}

.pros .img h4 {
  text-transform: capitalize;
  font-size: 15px;
  color: rgb(230 27 27 / 94%);
}

.pros p {
  width: 65%;
  font-size: 13px;
}

.program .btn {
  text-align: center;
  margin: 10px 0;
}

.program button {
  background-color:rgb(230 27 27 / 94%);
  padding: 0.5rem 1rem;
  width: 75%;
  border: none; 
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: poppins;
}

.btn a{
  display: none;
}


/****************program section*****************************/

@media (min-width:768px) {

  header {
    background-image: url(images/bg1-desktop.jpg);
    background-size: cover;
    padding: 0;
  }
  
  .icon {
    display: none;
  }
  
  .upper {
    background-color: rgb(66, 66, 66);
    display: block;
  }
  
  .socials {
    width: 75%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
  }
  
  .socials li {
    margin-left: 1rem;
    font-size: 16px;
  }
  
  .socials i {
    color: white;
    font-size: 16px;
  }
  
  .logo {
    display: block;
  }
  
  .links {
    background-color: white;
    padding: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
  }
  
  nav ul {
    position: unset;
    display: flex;
    height: auto;
    width: auto;
    background-color: transparent;
    padding: 0;
  }
  
  nav li {
    margin-left: 10px;
    margin-bottom: 0;
  }
  
  nav li a {
    font-size: 18px;
  }
  
  nav a {
    width: 100px;
  }
  
  nav a img {
    width: 100%;
  }
  
  .intro {
    width: 75%;
    margin: 0 auto;
    padding: 5rem 0;
  }
  
  .intro h1 {
    font-size: 45px;
    text-transform: uppercase;
  }
  
  .intro .bg {
    width: 600px;
  }

  .program {
    background-image: url(images/program-desktop.jpg);
    background-size: cover;
    padding: 4rem 0;
  }
  
  .container {
    width: 75%;
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fill, 200px);
  }
  
  .pros {
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 15px 5px;
  }
  
  .pros .img {
    flex-direction: column;
  }
  
  .pros .img i {
    font-size: 25px;
    margin: 5px 0;
  }
  
  .pros h4 {
    margin: 5px 0;  
  }
  
  .pros .img,
  .pros p {
    width: 100%;
  }
  
  .btn button {
    display: none;
  }
  
  .btn a {
    display: block;
    text-decoration: underline;
  }
  
  /****************program section*****************************/

  .program {
    background-image: url(images/program-desktop.jpg);
    background-size: cover;
    padding: 4rem 0;
  }
  
  .container {
    width: 75%;
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fill, 200px);
  }
  
  .pros {
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 15px 5px;
  }
  
  .pros .img {
    flex-direction: column;
  }
  
  .pros .img i {
    font-size: 25px;
    margin: 5px 0;
  }
  
  .pros h4 {
    margin: 5px 0;  
  }
  
  .pros .img,
  .pros p {
    width: 100%;
  }
  
  .btn button {
    display: none;
  }
  
  .btn a {
    display: block;
    text-decoration: underline;
  }

  /**************featuresspeaker section*********************/

  
}
